.content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 4px;
}

.offlineStatusBullet {
    background: #e92424;
    width: 9px;
    height: 9px;
    border-radius: 5px;
}

.offlineStatusText{
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #e92424;
    letter-spacing: 1px;
    position: relative;
    padding-left: 14px;
    line-height: 1;
}

.onlineStatusBullet{
    background: green;
    width: 9px;
    height: 9px;
    border-radius: 5px;
}

.onlineStatusText {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: green;
    letter-spacing: 1px;
    position: relative;
    padding-left: 14px;
    line-height: 1;
}