.sun {
    background: linear-gradient(0deg,#22567c,#557A95);
    padding: 80px 100px 60px;
    margin: 0 -100px;
    height: 15%;
    border-bottom-left-radius: 100% 25%;
    border-bottom-right-radius: 100% 25%;
    position: relative;
    color: #fff;
    display: flex;
    justify-content: center
}

.panelContainer {
    margin: auto;
    position: relative;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-right: 15%;
    margin-left: 15%;
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    flex-wrap: wrap;
}

.panel{
    margin: 25px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 5px 10px 0 rgba(35,35,35,.1);
    text-align: center;
    overflow: hidden;
    height: 225px;
    width: 225px;
    position: relative;
    display: block;
    color: #3a3939;
}

.panel:hover{
    color: #557A95
}

.panelImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    background: #f5f5f5;
    margin: 30px auto;
    color: #3a3939;
    font-size: 40px;
}

.panelLink:hover, .panelLink:visited, .panelLink:link, .panelLink:active
{
    color: inherit;
    text-decoration: none;
}

.panelTitle{
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    padding: 0 16px;
    margin: 20px;
}

.panelText{
    font-size: 16px;
    line-height: 1.5;
    color: #959595;
    padding: 0 15px;
}

.panelFooter{
    height: 5px;
    border-radius: 0 0 5px 5px;
    background-image: linear-gradient(270deg,#22567c,#557A95);
    position: absolute;
    bottom: 0;
    width: 100%;
}

.logoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    padding-left: 15%;
    padding-right: 15%;
}
