.navbar { 
    height: 2.5%;
    background: #557A95;
}

.navbarElectron {
    height: 2.5%;
    background: #557A95;
    line-height: 0.5
}

.logo {
    width: 2.5%;
}

.brand{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.link {
    margin-right: 5px;
    margin-left: 5px;
    opacity: 0.75 !important;
    color: whitesmoke !important;
    border-radius: 5px;
}

.link:hover{
    opacity: 1 !important;
    color: white !important;
    background: #396788
}

.linkPrimary{
    border-radius: 5px;
    opacity: 0.75 !important;
    color: whitesmoke !important;
    background: #22567c;
}

.link:hover{
    opacity: 1 !important;
    color: white !important;
    background: #0d466f ;
}

.collapse {
    justify-content: flex-end;
}