.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo{
    width: 50vw;
    height: 40vh;
    align-self: center;
    object-fit: contain;
}

.title{
    max-height: 15vh;
    width: auto;
    font-size: 6em;
    text-align: center;
}

.subTitle{
    max-height: 10vh;
    font-size: 2.5em;
    text-align: center
}

.disclaimerTitle{
    text-align: center
}

.disclaimer{
    text-align: center
}

.buttonContainer{
    display: flex;
    justify-content: center
}

.button{
    font-size: 1.5em;
    min-width: 5%;
    min-height: 2.5%;
    margin: 2.5%;
    padding:1%;
}