<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>New Password</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
</head>

<body style="margin: 0; padding: 20px 0 0 0;">
<table cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0" width="600">
                <tr>
                    <td>
                        <table align="center" cellpadding="0" cellspacing="0" style="border-collapse: collapse;"
                               width="600">
                            <tr>
                                <td style="padding: 20px 0 0px 0">
                                    <p align="center"
                                       style="font-size: 31px; font-family: sans-serif; Arial; color:#164E86; line-height: 0%;">
                                        New Password Requested</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:  0 0 0 50px">
                                    <p align="left" style="font-size: 18px; font-family: sans-serif; Arial; ">Hi there,
                                        <span th:text="${user_name}">[user_name]</span></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:  0 50px 0 50px; line-height: 170%;">
                                    <p align="left" style="font-size: 18px; font-family: sans-serif; Arial;">
                                        It seems you requested a new password. Your new password:
                                    </p>
                                    <p align="center" style="font-size: 24px; font-family: sans-serif; Arial;"
                                       th:text="${new_password}">
                                        <strong>[new password]</strong>
                                    </p>
                                    <p align="left" style="font-size: 18px; font-family: sans-serif; Arial;">
                                        We recommend that you login with this password and change it promptly.
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:  0 0 40px 50px; line-height: 170%;">

                                </td>
                            </tr>
                            <tr>
                                <td style="padding:  0 0 40px 50px; line-height: 170%;">
                                    <p align="left" style="font-size: 18px; font-family: sans-serif; Arial; ">Thanks,
                                        <br/> Kraken Team </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            <table align="center" cellpadding="0" cellspacing="0" width="100">
                <tr>
                    <td>
                        <table align="center" cellpadding="0" cellspacing="0" width="600">
                            <tr>
                                <td align="center">
                                    <img alt="Kraken-Logo - Footer" height="50px"
                                         src="assets/kraken_logo.png"
                                         style="display: block;" th:src="|cid:${kraken_logo}|" width="50px"/>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:0px;">
                                    <p align="center" style="line-height: 130%;">
                                        <span style="font-size: 18px; font-family: sans-serif, Arial; color:#164E86; padding: 0 0 10px 0;">Kraken</span>
                                        <br/>
                                        <span style="font-size: 10px; font-family: sans-serif, Arial; line-height: 150%; color:#9B9B9B">© 2020 Kraken. All rights reserved.</span>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</body>

</html>
