.content {
    color: #959595;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 30px auto 10px 5px;
    text-align: left;
    display: inline-block;
}