.header{
    padding: 60px 0 120px;
    text-align: center;
}

.title{
    color: #524e4e;
    font-weight: 100;
    font-size: 56px;
    padding: 0;
    margin: 0 0 20px;
}

.loginContainer{
    display: flex;
    flex-direction: column;
    margin: -80px auto 0;
    border: 2px solid #557A95;
    padding: 30px 40px;
    max-width: 50vw;
}

.loginSubContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.loginSocial{
    display: flex;
    flex-direction: column;
    min-width: 15vw;
    justify-content: space-around
}

.loginSeperator{
    left: 50%;
    transform: translate(-50%);
    border: 2px solid #ddd;
    height: inherit;
}

.loginSeperatorText{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    border: 2px solid #ccc;
    border-radius: 50%;
    padding: 5.5px 10px;
  }

.loginForm{
    display: flex;
    flex-direction: column;
    text-align: left;
    min-width: 15vw;
}

.form_status_container{
    display: flex;
    justify-content: center;
    margin-bottom : 10px;
}

.form_input_postpend {
    max-width: 16px;
    color: "#557A95";
    cursor: 'pointer';
}

.submit_container{
    margin: 20px;
    text-align: center
}

.loginContainerFooter{
    text-decoration: #524e4e;
    display: flex;
    justify-content: space-between;
}