.main {
    background: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    box-shadow: 2px 2px 3px rgba(0,0,0,.05);
    margin: 0 5px 10px 0;
    position: relative;
    text-align: left;
}

.detailContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.lastDetailItem {
    flex-grow: 1;
}

.tableItem {
    padding: 15px 10px;
    text-align: left;
    font-size: 14px;
    vertical-align: middle;
    border-bottom: 1px solid #dbdbdb;
    line-height: 1.3;
}

.tableHeaderColumnText { 
    color: #fff;
    font-weight: 700;
    padding: 15px 10px;   
    font-size: 14px;
    text-align: left;
}