.main_inactive{
    display: flex;
    flex-direction: column;
    background: 0 0;
    border: 2px dashed #dbdbdb;
    border-radius: 5px;
    box-shadow: none;
    padding: 20px;
    text-align: center;
    align-items: center;
}

.main_active{
    background: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    box-shadow: 2px 2px 3px rgba(0,0,0,.05);
    margin: 0 5px 10px 0;
    position: relative;
    text-align: left;
}

.lastDetailItem {
    flex-grow: 1;
}

.imageContainer{
    padding : 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-right: 1px solid #dbdbdb;
}

.content{
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.uptimeDetailBoxContainer{
    flex-grow: 1;
}

.heading{
    white-space: nowrap;
    color: #959595;
    font-size: 0.55rem;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 10px;
}

.currentJob {
    border-right: 1px solid #dbdbdb;
    justify-content: flex-end;
}

.startText {
    font-size: 16px;
    font-weight: 700;
}

.startButton{
    margin: 10px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 12px;
    width: fit-content;
}

.settingsButton{
    margin: 10px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 12px;
    width: fit-content;
}

.activeCoreSliderContainer{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.stopButton{
    margin: 10px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 12px;
    width: fit-content;
}

.buttonContainer{
    padding : 5px;
    display:  flex;
    justify-content: center;
}

.starvationAlertContainer{
    width : 80%;
    display: flex;
    justify-content: center
}

.errorMessage {
    flex-grow: 1;
    color: red;
}

.tableContainer{
    border-radius: 4px;
}

.tableItem {
    padding: 15px 10px;
    text-align: left;
    font-size: 14px;
    vertical-align: middle;
    border-bottom: 1px solid #dbdbdb;
    line-height: 1.3;
}

.tableHeaderColumnText { 
    color: #fff;
    font-weight: 700;
    padding: 15px 10px;   
    font-size: 14px;
    text-align: left;
}
